container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  03_load:
    command: "django-admin.py loaddata data.json"
    leader_only: true
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: inasilentway.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: inasilentway/wsgi.py