{% extends 'base.html' %}

{% block page_title %}
  <h2 class="f3 mb3 mt0 pa5">Log in</h2>
{% endblock %}

{% block content %}
  <div class="flex">
    {% if form.errors %}
      <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <div class="w50 ">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <table>

          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>

          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <p>
          <input type="submit" value="login" />
        </p>
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>

  </div> <!-- Flex -->
{% endblock %}
