<div class="flex pl5 pr4">
  <div class="w-80">
    <h2 class="f3 mb3 mt0 pa5 pl0">
      Last.fm
    </h2>
  </div>
  <div class="w-20">
    <div class="flex ttu pt5 avenir pl0 ml0">
      <div class="mr2 w-40">
        <a href="" class="link navy hover-bg-orange hover-white pt2 pb2">
          Top Artists
        </a>
      </div>
      <div class="w-60">
        <a href="{% url 'recently-scrobbled-records' %}" class="link navy hover-bg-orange hover-white pt2 pb2">
          Recent Records
        </a>
      </div>
    </div>

  </div>
</div>
