<div class="flex pl5 pr4">
  <div class="w-80">
    <h2 class="f3 mb3 mt0 pa5 pl0">
      {% if view.lastfm_subheading %}{{ view.lastfm_subheading | safe }}{% else %}Last.fm{% endif %}
    </h2>
  </div>
  <div class="w-20">
    <div class="flex ttu pt5 avenir pl0 ml0">
      <div class="mr2 w-50">
        <a href="{% url 'listening-history' %}" class="link navy hover-bg-orange hover-white pt2 pb2">
          History
        </a>
      </div>
      {% if user.is_authenticated %}
      <div class="w-50">
        <a href="{% url 'load-scrobbles' %}" class="link navy hover-bg-orange hover-white pt2 pb2">
          Fetch
        </a>
      </div>
      {% endif %}
    </div>

  </div>
</div>
