{% load humanize %}
{% load inasilentway %}

<div class="flex mt4">
  <div class="w-30">
    {% if page_obj.has_previous %}
      <a href="{% this_url_replace page=1 %}" class="link gold bg-navy hover-bg-orange hover-white pa2 mr2">
        &laquo; first
      </a>
      <a href="{% this_url_replace page=page_obj.previous_page_number %}" class="link gold bg-navy hover-bg-orange hover-white pa2">
        previous
      </a>
    {% endif %}
  </div>
  <div class="w-40 tc">
    Page {{ page_obj.number | intcomma }} of {{ page_obj.paginator.num_pages | intcomma }}.
  </div>
  <div class="w-30">
    {% if page_obj.has_next %}
      <a href="{% this_url_replace page=page.obj.paginator.num_pages %}" class="link gold bg-navy hover-bg-orange hover-white pa2 fr ml2 mr4">
        last &raquo;
      </a>
      <a href="{% this_url_replace page=page_obj.next_page_number %}" class="link gold bg-navy hover-bg-orange hover-white pa2 ml2 fr">
        next
      </a>
    {% endif %}
  </div>
</div>
