{% extends 'base.html' %}
{% load humanize %}
{% load inasilentway %}

{% block page_title %}
  <h2 class="f3 mb3 mt0 pa5">
    {{ object.name }}
  </h2>

{% endblock %}
{% block content %}
  <div class="flex">
    <div class="w-50 pr5">
      <h3 class="f6 ttu bb mt0 mb3">
        Details
      </h3>
      <p>
        {{ object.profile }}
      </p>

    </div>
    <div class="w-50 pr5">
      <h3 class="f6 ttu bb mt0 mb3">
        Records
      </h3>
      <ol>
        {% for record in object.record_set.all %}
          <li>
            <a href="{{ record.get_absolute_url }}">
              {{ record.title }}
            </a>
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>

  <div class="flex">
    <div class="w-100 mt3 mb3 ">
      <h3 class="f6 ttu bb">
        Scrobbles ({{ object.scrobble_set.count | intcomma }})
      </h3>
      <div class="flex">
        <div class="w-50 pr3 br">
          {% bar_chart view.scrobbles_by_year %}
        </div>

        <div class="w-50"></div>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="w-100">
      <h3 class="f6 ttu bb">
        Unmanaged API fields
      </h3>

      <ul class="list">
        <li>Images: {{ object.images }}</li>
        <li>Url: {{ object..url}}</li>
        <ul class="list">
          <li>Urls: {{ object.urls }}</li>
        </ul>

      </ul>
    </div>

  </div>

{% endblock %}
