{% extends 'base.html' %}
{% load humanize %}
{% load inasilentway %}

{% block page_title %}
  {% include 'partials/lastfm_header.html' %}
{% endblock %}

{% block content %}
  <div class="flex">

    <div class="w-30 mr5 ">
      {% with view.get_scrobbles_per_day_all_time as total %}
        <div class="flex">
          <div class="w-50">
            <h2 class="f6 ttu bb">
              Scrobbles
            </h2>
            <p class="b f4">
              {{ total.count | intcomma }}
            </p>
          </div>

          <div class="w-50">
            <h2 class="f6 ttu bb">
              Per Day
            </h2>
            <p class="b f4">
              {{ total.per_day }}
            </p>
          </div>
        </div>
      {% endwith %}
      <div class="flex">
        <div class="w-100">
          {% bar_chart view.get_scrobble_graph_all_time %}
        </div>
      </div>
    </div>


    <div class="w-30 mr5 ">
      {% with view.get_scrobbles_per_day_this_year as total %}
        <div class="flex">
          <div class="w-50">
            <h2 class="f6 ttu bb">
              This Year
            </h2>
            <p class="b f4">
              {{ total.count | intcomma }}
            </p>
          </div>
          <div class="w-50">
            <h2 class="f6 ttu bb">
              Per Day
            </h2>
            <p class="b f4">
              {{ total.per_day }}
            </p>
          </div>
        </div>
      {% endwith %}
      <div class="flex">
        <div class="w-100">
          {% bar_chart view.get_scrobble_graph_this_year %}
        </div>
      </div>
    </div>

    {% block this_month_charts %}
    <div class="w-30">
      {% with view.get_scrobbles_per_day_this_month as total %}
        <div class="flex">
          <div class="w-50">
            <h2 class="f6 ttu bb">
              This Month
            </h2>
            <p class="b f4">
              {{ total.count | intcomma }}
            </p>
          </div>
          <div class="w-50">
            <h2 class="f6 ttu bb">
              Per Day
            </h2>
            <p class="b f4">
              {{ total.per_day }}
            </p>
          </div>
        </div>
      {% endwith %}
      <div class="flex">
        <div class="w-100">
          {% bar_chart view.get_scrobble_graph_this_month %}
        </div>
      </div>
    </div>
    {% endblock %}
  </div>

{% block top_artists %}
  <h2 class="f6 ttu bb mt3 mb3">
    Top Artists
  </h2>

  <div class="flex">
    <div class="w-30 mr5">
      <ol class="pl4">
        {% for artist in view.get_top_lastfm_artists_all_time %}
          <li>
            {{ artist.artist }}
            <span class="fr">{{ artist.total | intcomma }}</span>
          </li>
        {% endfor %}
      </ol>
    </div>

    <div class="w-30 mr5">
      <ol class="pl4">
        {% for artist in view.get_top_lastfm_artists_this_year %}
          <li>
            <span class="{{ artist.all_time_ranking.klass }} f4">
              {{ artist.all_time_ranking.icon | safe }}
            </span>&nbsp;
            {{ artist.artist }}
            <span class="fr">{{ artist.total | intcomma }}</span>
          </li>
        {% endfor %}
      </ol>
    </div>

    <div class="w-30 mr5">
      <ol class="pl4">
        {% for artist in view.get_top_lastfm_artists_this_month %}
          <li>
            {{ artist.artist }}
            <span class="fr">{{ artist.total | intcomma }}</span>
          </li>
        {% endfor %}
      </ol>
    </div>
{% endblock %}

  </div>

{% endblock %}
