{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>In a silent way{% if view.page_title %} - {{ view.page_title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="{% static 'css/inasilentway.css' %}"/>
  </head>

  <body class="">
    {% block header %}
      <div class="w-100 pa4 pl5 mt0 bg-navy athelas">
        <div class="flex">
          <div class="w-80">
            <h1 class="f1">
              <a href="/" class="gold link underline-hover">
                In a silent way
              </a>
            </h1>
          </div>
          <div class="w-20 pt4 mt2">
            <form method="get" action="{% url 'search' %}">
              {% csrf_token %}
              <input type="text" name="query" id="searchBox" placeholder="Search">
            </form>
            <div class="flex ttu pt4 avenir pl0 ml0">
              <div class="mr2 w-50">
                <a href="{% url 'home' %}" class="link gold hover-bg-orange hover-white pt2 pb2">
                  Collection
                </a>
              </div>
              <div class="w-50">
                <a href="{% url 'scrobble-list' %}" class="link gold hover-bg-orange hover-white pt2 pb2">
                  Scrobbles
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="w-100 pl5">
      </div>
    {% endblock %}

    <div class="w-100 bg-gold avenir">
      {% block page_title %}{% endblock %}
    </div>
    <section>
      <div class="pa5 avenir">
        {% block content %}{% endblock %}
      </div>
    </section>

    <div class="w-100 bg-light-red pa5 avenir">
      <div class="flex">
        <div class="w-40">
          <h2 class="ttu bb f5">
            Less Useful Links
          </h2>
          <ul class="list pl0">
            <li class="pb2">
              <a href="{% url 'unplayed' %}">Unplayed records</a>
            </li>
            <li class="pb2">
              <a href="{% url 'unlinked-scrobbles' %}">Unlinked scrobbles</a>
            </li>
            <li class="pb2">
              <a href="{% url 'listening-history' %}">Listening history</a>
            </li>
            <li class="pb2">
              <a href="{% url 'oldest' %}">Least recently played</a>
            </li>
            <li class="pb2">
              <a href="{% url 'top-artists' %}">Top artists</a>
            </li>
            {% if user.is_authenticated %}
              <li class="pb2">
                <a href="{% url 'load-scrobbles' %}">Load recent scrobbles</a>
              </li>
            <li class="pb2">
              <a href="{% url 'logout' %}">Log out</a>
            {% else %}
              <a href="{% url 'login' %}">Log in</a>
            </li>
          {% endif %}
          </ul>
        </div>
      </div>
    </div>

  </body>

  <script src="{% static 'js/inasilentway.js' %}"></script>

</html>
